<section id="mv">
  <div class="container">
    <div class="row" id="mv-message">
      <div class="col-10 col-md-4 offset-1">
        <%= image_tag asset_path('top/main_logo.png'), class: "img-fluid" %>
      </div>
        <div class="m-auto text-center">
          <h2 class="my-5">べ ジ サ ー ク ル</h2>
          <p>誰にも届かないまま消えていく大切ないのちを</p>
          <p>生まれた土地で、おいしくいただく。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-contents" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-10 col-md-3 side-bar">
        <h5>エリアから農家を探す</h5>
        <%= render 'searches/farmer_area', regions: @regions %>
      </div>
      <div class="col-md-8 main-content d-none d-md-block ml-3">
        <div class="form-group mb-4">
          <div class="d-flex flex-row">
            <h5>新着農家</h5>
            <%= link_to ">> もっと見る", farmers_path, class: "ml-5 text-dark" %>
          </div>
          <%= render 'customers/farmers/index', farmers: @farmers %>
        </div>
        <div class="form-group mb-4">
          <div class="d-flex flex-row">
            <h5>新着レシピ</h5>
            <%= link_to ">> もっと見る", recipes_path, class: "ml-5 text-dark" %>
          </div>
          <%= render 'customers/recipes/index', recipes: @recipes %>
        </div>
        <div class="form-group mb-4">
          <div class="d-flex flex-row">
            <h5>新着農業体験</h5>
            <%= link_to ">> もっと見る", events_path, class: "ml-5 text-dark" %>
          </div>
          <%= render 'customers/events/index', events: @events %>
        </div>
      </div>
      <% unless customer_signed_in? || farmer_signed_in? %>
        <%= link_to customers_guest_sign_in_path, method: :post, class: "guest-login", id: "customer"  do %>ゲスト<br>ログイン<br>（住民）<% end %>
        <%= link_to farmers_guest_sign_in_path, method: :post, class: "guest-login", id: "farmer" do %>ゲスト<br>ログイン<br>（農家）<% end %>
      <% end %>
    </div>
  </div>
</section>
