<div class="container">
  <%= render 'farmers/recipes/show' tag_list: @tag_list, recipe: @recipe %>

  <div class="row">
    <div class="col-12 col-md-8 mx-auto mt-4">
      <table>
        <tbody>
          <tr>
            <% if @recipe.id.present? %>
            <% else %>
            <td><%= form_with model: [:farmers, @recipe], method: :post, url: farmers_recipes_back_path, local: true do |f| %>
              	  <%= f.submit '入力画面に戻る', class: "btn btn-sm btn-secondary mr-3" %>
                <% end %></td>
            <td><%= form_with model: [:farmers, @recipe], method: :post, url: farmers_recipes_path, local: true do |f| %>
              	  <%= f.submit '作成する', class: "btn btn-sm btn-success" %>
                <% end %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>