<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2">
      <h4><%= @recipe.title %>のレシピ / 作り方</h4>
      <%= attachment_image_tag @recipe, :recipe_image, class: "recipe_image", fallback: asset_path('no_images/no_image_lg.png') %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <h6 class="my-2">調理時間：約<%= @recipe.duration %>分</h6>
      <table flame="box">
        <tr>
          <td><%= @recipe.tags.each do |tag| %>
                <%= tag.tag, class: "tag m-3" %>
              <% end %></td>
        </tr>
      </table>
      <h4 class="mt-2 my-2"><%= @recipe.title %>の材料（<%= @recipe.amount %>人分）</h4><br>
      <%= @recipe.ingredient %>

      <h4 class="mt-2 my-2"><%= @recipe.title %>のつくりかた</h4><br>
      <%= @recipe.recipe, class: "mb-4" %>

      <%= form_with model: [:farmers, @recipe], method: :post, url: farmers_recipes_back_path, local: true do |f| %>
      	<%= f.submit '入力画面に戻る', class: "btn btn-sm btn-secondary" %>
      <% end %>

      <%= form_with model: [:farmers, @recipe], method: :post, url: farmers_recipes_path, local: true do |f| %>
      	<%= f.submit '作成する', class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>