<div class="container">
  <div class="row">
    <%= render 'farmers/recipes/recipe-top', recipe: @recipe, tag_list: @tag_list %>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 mx-auto my-3 d-flex align-items-center" id="recipe_<%= @recipe.id %>">
      <h6 class="mr-4">調理時間：約<%= @recipe.duration %>分</h6>
      <h6><i class="fas fa-heart text-danger"></i> <%= @recipe.recipe_favorites.count %></h6>
    </div>
    <%= render 'farmers/recipes/recipe-detail', recipe: @recipe %>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto mt-3">
      <% if farmer_signed_in? && (current_farmer.id == @recipe.farmer_id) %>
        <div class="form-row">
          <%= link_to "編集する", edit_farmers_recipe_path(@recipe), class: "btn btn-sm btn-success mr-3" %>
          <%= link_to "削除する", farmers_recipe_path(@recipe), method: :delete, data: { confirm: "レシピを削除しますか?" }, class: "btn btn-sm btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>