<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 offset-md-1 mb-4">
      <%= attachment_image_tag @event, :plan_image, class: "farm_pictures", fallback: asset_path('no_images/no_image_md.png'), size: '300x300' %>
    </div>
    <div class="col-12 col-md-5 mr-auto my-2">
      <h4 class="text-left mb-3"><%= @event.title %></h4>
      <h6><i class="fas fa-heart text-danger"></i> <%= @event.event_favorites.size %></h6>
      <% if current_farmer.id == @event.farmer_id %>
        <h6><i class="fas fa-bookmark text-success"></i> 予約数： <%= @schedule.reservations.size %></h6>
      <% end %>
      <%= safe_join(@event.body.split("\n"),tag(:br)) %>
    </div>
  </div>

  <%= render "farmers/schedules/show", event: @event, schedule: @schedule %>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2 event">
      <%= render "farmers/events/access", event: @event %>
      <div class="form-group d-flex mt-3">
        <% if current_farmer.id == @event.farmer_id %>
          <% if @schedule.date > Date.current %>
            <%= link_to "日時以外の項目を編集する", edit_farmers_event_path(@event), class: "btn btn-success mr-3" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2 event">
      <% if current_farmer.id == @event.farmer_id %>
        <div class="d-flex mb-4">
          <h5 class="mr-3">予約状況</h5>
        </div>
        <div class="col-7">
        <%= render "customers/reservations/index", reservations: @schedule.reservations, event: @event %>
        </div>
      <% end %>
      <%= link_to farmers_event_path(@event), class: "fixed-circle-btn" do %>イベント<br>概要へ<br>戻る<% end %>
    </div>
  </div>
</div>