<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h4 class="mb-4 text-center">農業体験・予約一覧</h4>
      <%= link_to "農業体験を作成する", new_farmers_event_path, class: "btn btn-sm btn-success " %>
      <%= month_calendar events: @schedules do |date, schedules| %>
        <%= date.day %>
        <% schedules.each do |schedule| %>
          <div>
            <%= link_to farmers_event_schedule_path(Event.find(schedule.event_id), schedule.id) do %>
              <div class="title text-dark">
                <%= schedule.start_time.hour %>:<%= format("%02<number>d", number: schedule.start_time.min) %>～ <%= Event.find(schedule.event_id).title %>
              </div>
              <div class="text-secondary">
                <span class="ml-2">予約：<%= participants(@reservations, schedule) %>人/<%= schedule.people %>人</span>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="text-right">
        <%= link_to "一覧表示に切り替え", farmers_events_path(@events), class: "btn btn-sm btn-secondary" %>
      </div>
    </div>
  </div>
</div>
