<div class="container">
  <div class="row">
    <div class="col-11 col-md-10 mx-auto mb-3">
      <h4><%= current_farmer.name %>さんのマイページ
        <%= link_to farmer_path(current_farmer), class: "btn btn-sm bg-gray rounded-circle" do %><i class="fas fa-eye"></i><% end %>
      </h4>
    </div>
    <div class="col-6 col-md-3 offset-1 offset-md-4 mt-4">
      <%= attachment_image_tag current_farmer, :farmer_image, :fill, 200, 200, class: "rounded-circle", fallback: asset_path('no_images/no_image_md.png'), size: '200x200' %>
    </div>
    <div class="col-5 col-md-5 mt-4 m-auto">
      <p class="mt-2"><strong>メールアドレス</strong>：<%= current_farmer.email %></p>
      <p><strong>フォロワー数　</strong>：<%= current_farmer.follows.size %>人</p>
      <span class="cell-pl average-rating" data-score=<%= @average_rating %>></span>
      <span><strong>(<%= link_to farmers_farmers_evaluations_path do %><%= current_farmer.evaluations.size %><% end %>)</strong></span>
      <p class="mt-4"><%= link_to "基本情報の編集", edit_farmers_farmers_path, class: "btn btn-sm btn-success mr-3" %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-11 col-md-10 mx-auto my-3 text-center"><hr>
      <h5 class="mb-2">お知らせの投稿</h5>
      <%= render 'layouts/error_messages', validation: @news %>
    </div>
    <div class="col-5 offset-1 col-md-4 offset-md-2">
      <%= form_with model: [:farmers, @news], local: true do |f| %>
        <div class="form-group">
          <%= f.text_area :news, rows: 4, class: "form-control form-control-sm" %>
          <%= f.attachment_field :news_image, class: "form-control-file" %>
        </div>
        <%= f.submit '送信', class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
    <div class="col-6 col-md-5 news-index">
      <%= render 'farmers/news/index', news: @news_last3, news_left: @news_left %>
    </div>
  </div>
  <%= render 'farmers/farmers/raty-js' %>
</div>