<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-1 my-2">
      <table>
        <tbody>
          <tr>
            <td rowspan="3"><%= attachment_image_tag @farmer, :farmer_image, :fill, 100, 100, class: "rounded-circle", fallback: asset_path('no_images/no_image_md.png'), size: '100x100' %></td>
            <td class="cell-pl"><%= @farmer.farm_address %></td>
            <td></td>
          </tr>
          <tr>
            <td class="cell-pl"><h3><%= @farmer.name %></h3></td>
            <td></td>
          </tr>
          <tr>
            <td class="cell-pl average-rating" data-score=<%= @average_rating %>></td>
            <td class="cell-pl">
              <% if current_farmer == @farmer %>
                <%= link_to "編集する", edit_farmers_farmer_path(current_farmer), class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table><br>
      <%= @farmer.introduction %>
    </div>
    <div class="col-12 col-md-4 mr-auto my-2">
      <div class="list-wrap slideshow">
        <%= attachment_image_tag @farmer, :image_1, class: "farm_pictures", fallback: asset_path('no_images/no_image_md.png') %>
        <%= attachment_image_tag @farmer, :image_2, class: "farm_pictures" %>
        <%= attachment_image_tag @farmer, :image_3, class: "farm_pictures" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 offset-md-1 my-3">
      <h5>直売所へのアクセス</h5>
      <%= @farmer.store_address %>
      <%= render 'customers/farmers/map', farmer: @farmer %>
    </div>
    <div class="col-12 col-md-4 mr-auto my-3">
      <h5>お知らせ</h5>
      <%= render 'layouts/error_messages', validation: @news %>
      <div class="news-index">
        <%= render 'farmers/news/index', news: @news_last3, news_left: @news_left %>
      </div>
      <% if current_farmer == @farmer %>
        <%= form_with model: [:farmers, @news], local: true do |f| %>
          <div class="form-group">
            <%= f.text_area :news, class: "form-control form-control-sm" %>
            <%= f.attachment_field :news_image, class: "form-control-file" %>
          </div>
          <%= f.submit '送信', class: "btn btn-sm btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mt-3">
      <h5>予約受付中の農業体験<%= link_to "作成", new_farmers_event_path, class: "btn btn-sm btn-success ml-2" %></h5>
      <%= render 'farmers/events/index', events: @events %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mt-3">
      <h5>農家ご飯<%= link_to "作成", new_farmers_recipe_path, class: "btn btn-sm btn-success ml-2" %></h5>
      <%= render 'farmers/recipes/index', recipes: @recipes %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center">
      <h5>この農家さんに関するレビュー</h5>
      <div class="evaluations">
        <%= render 'customers/evaluations/index', evaluations: @evaluations %>
      </div>
      <%= render 'farmers/farmers/raty-js' %>
    </div>
  </div>
</div>