<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 offset-md-1 mb-4">
      <%= attachment_image_tag @event, :plan_image, class: "farm_pictures", fallback: asset_path('no_images/no_image_md.png'), size: '300x300' %>
    </div>
    <div class="col-12 col-md-5 mr-auto my-2">
      <h4 class="text-left mb-3"><%= @event.title %></h4>
      <h6><i class="fas fa-heart text-danger"></i> <%= @event.event_favorites.count %></h6>
      <%= safe_join(@event.body.split("\n"),tag(:br)) %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2 event">
      <h5 class="mb-2">イベント概要</h5>
      <table class="table">
        <tbody>
          <tr>
            <th>イベント開催日時</th>
            <td class="d-flex align-items-center">
              <%= show_date(@schedule.date) %>
              <div class="mx-3"><%= show_time(@schedule.start_time) %> ～ <%= show_time(@schedule.end_time) %></div>
            </td>
          </tr>
          <tr>
            <th>イベント参加費（税込）/人</th>
            <td><%= converting_to_jpy(@event.fee) %></td>
          </tr>
          <tr>
            <th>キャンセルポリシー</th>
            <td><%= @event.cancel_change %></td>
          </tr>
          <tr>
            <th>そのほか</th>
            <td><%= @event.etc %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2 event">
      <%= render "farmers/events/access", event: @event %>
      <div id="fixed_btn">
        <% if customer_signed_in? && (@schedule.date > Date.current) %>
          <% unless current_customer.reserved?(@schedule) %>
            <%= link_to "予約する", new_event_schedule_reservation_path(@event, @schedule), class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
      <div class="mt-3">
        <%= link_to "イベントページへ戻る", event_path(@event), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>