<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 offset-md-2 my-2">
      <table>
        <tbody>
          <tr>
            <td rowspan="3"><%= attachment_image_tag @farmer, :farmer_image, :fill, 100, 100, class: "rounded-circle", fallback: asset_path('no_images/no_image_md.png'), size: '100x100' %></td>
            <td class="cell-pl"><%= @farmer.farm_address %></td>
          </tr>
          <tr>
            <td class="cell-pl"><h3><%= @farmer.name %></h3></td>
          </tr>
          <tr>
            <td class="cell-pl">評価（〇件）</td>
          </tr>
        </tbody>
      </table><br>
      <%= @farmer.introduction %>
      <% if customer_signed_in? %>
        <% if current_customer.following?(@farmer) %>
          <%= link_to "フォローを外す", farmer_follow_path(@farmer.id), method: :delete, class: "btn btn-sm btn-danger" %>
        <% else %>
          <%= link_to "フォローする", farmer_follows_path(@farmer.id), method: :post, class: "btn btn-sm btn-success" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-12 col-md-4 mr-auto my-2">
      <%= attachment_image_tag @farmer, :image_1, class: "farm_pictures", fallback: asset_path('no_images/no_image_md.png'), size: '300x300' %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-5 offset-md-2 my-2">
      <h6>直売所へのアクセス</h6>
      <%= @farmer.store_address %>
    </div>
    <div class="col-12 col-md-4 mr-auto my-2">
      <h6>お知らせ</h6>
      <%= render 'farmers/news/index', news: @news_last3, news_left: @news_left %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mx-auto mt-3">
      <h6>予約受付中の農業体験</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mx-auto mt-3">
      <h6>農家ご飯</h6>
      <%= render 'farmers/recipes/index', recipes: @recipes %>
      <% if @farmer.recipes.count >= 5 %>
        <%= link_to ">> もっと見る", farmers_recipe_index_path, class: "ml-auto text-dark" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h6>この農家さんに関するコメント</h6>
    </div>
  </div>

</div>