<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @customer.nickname %>　さま</h2>
    <p>農業体験のご予約をいただきありがとうございます。<br>
       下記内容にてご予約を承っておりますので、ご確認をお願いいたします。</p>

    <h3>■ ご予約内容</h3>
    <ul>
      <li>イベント名：<%= @event.title %></li>
      <li>開催日時：<%= @schedule.date.strftime('%Y/%m/%d') %>　<%= @schedule.start_time.strftime('%H:%M') %> ～ <%= @schedule.end_time.strftime('%H:%M') %></li>
      <li>ご予約人数：<%= @reservation.people %>人</li>
      <li>イベント参加費（税込）：<%= @event.fee %> × <%= @reservation.people %> = <%= @event.fee * @reservation.people %>円</li>
      <li>集合場所：<%= @event.location %></li>
    </ul>

    <h3>■ キャンセルポリシー</h3>
    <p><%= @event.cancel_change %></p>

    <p>詳細につきましては、「マイページ > 予約一覧」よりご確認ください。</p>
    <p>今後ともご愛顧のほど、よろしくお願いいたします。</p>

    ■ ログインページ：<%= @url %>

    <p>-- vegecircle 管理者 --</p>
  </body>
</html>