<div class="container">
  <div class="row">
    <%= render 'farmers/recipes/recipe-top', recipe: @recipe, tag_list: @tag_list %>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 mx-auto my-3 d-flex align-items-center" id="recipe_<%= @recipe.id %>">
      <h6 class="mr-4">調理時間：約<%= @recipe.duration %>分</h6>
      <% if customer_signed_in? %>
        <h6 class="favorite-btn"><%= render 'customers/favorite_recipes/favorite-btn', recipe: @recipe %></h6>
      <% else %>
        <h6><i class="fas fa-heart text-danger"></i> <%= @recipe.recipe_favorites.count %></h6>
      <% end %>
    </div>
    <%= render 'farmers/recipes/recipe-detail', recipe: @recipe %>
  </div>
</div>