<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>会員ステータス</th>
      <th>直売所住所</th>
      <th>評価</th>
      <th>フォロワー</th>
    </tr>
  </thead>
  <tbody>
    <% farmers.each do |farmer| %>
      <tr>
        <td><%= link_to farmer_path(farmer) do %>
              <%= attachment_image_tag farmer, :farmer_image, :fill, 60, 60, class: "rounded-circle", fallback: asset_path('no_images/no_image_md.png'), size: '60x60' %>
            <% end %></td>
        <td><%= link_to farmer_path(farmer) do %><%= farmer.name %><% end %></td>
        <td><%= farmer.email %></td>
        <% if farmer.is_deleted == false %>
          <td class="text-success"><strong>有効</strong></td>
        <% else %>
          <td>退会</td>
        <% end %>
        <td><%= farmer.store_address %></td>
        <% if farmer.evaluations.blank? %>
          <td class="average-rating" data-score=<%= 0 %>></td>
        <% else %>
          <td class="average-rating" data-score=<%= farmer.evaluations.average(:evaluation).round(2) %>></td>
        <% end %>
        <td><%= farmer.follows.size %>人</td>
      </tr>
    <% end %>
  </tbody>
</table>