<div class="container">
  <div class="row">
    <div class="col-11 mx-auto">
      <h4 class="mb-4">農家一覧</h4>
      <div class="form-row mb-3">
        <%= render 'searches/farmer_search' %>
        <%= render 'searches/farmer_sort' %>
      </div>
      <h6>農家の総会員数：<%= @farmers.size %>人</h6>
      <div id="index_all">
        <%= render 'admins/farmers/index', farmers: @farmers %>
      </div>
      <div id="index_sort">
        <%= render 'admins/farmers/index', farmers: @farmers %>
      </div>
      <%= paginate @farmers %>
      <%= render 'admins/farmers/raty-js' %>
    </div>
  </div>
</div>