<div class="container">
  <div class="row">
    <div class="col-11 col-md-10 mx-auto">
      <h4 class="mb-4">農家一覧</h4>
    </div>
    <div class="col-10 mx-auto col-md-3 offset-md-1 side-bar">
      <h6 class="text-center">エリアから探す</h6>
      <%= render 'searches/farmer_area', northern: @northern, kanto: @kanto, middle: @middle, kansai: @kansai, western: @western, southern: @southern %>
    </div>
    <div class="col-md-8 main-content d-none d-md-block">
      <%= render 'searches/farmer_search' %>
      <h6>農家の総会員数：<%= @farmers.count%>人</h6>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>会員ステータス</th>
            <th>直売所住所</th>
          </tr>
        </thead>
        <tbody>
          <% @farmers.each do |farmer| %>
            <tr>
              <td><%= link_to farmer_path(farmer) do %>
                    <%= attachment_image_tag farmer, :farmer_image, :fill, 60, 60, class: "rounded-circle", fallback: asset_path('no_images/no_image_md.png'), size: '60x60' %>
                  <% end %></td>
              <td><%= link_to farmer_path(farmer) do %><%= farmer.name %><% end %></td>
              <td><%= farmer.email %></td>
              <% if farmer.is_deleted == false %>
                <td class="text-success"><strong>有効</strong></td>
              <% else %>
                <td>退会</td>
              <% end %>
              <td><%= farmer.store_address %></td>
            </tr>
          <% end %>
        </tbody>
        <%= paginate @farmers %>
      </table>
    </div>
  </div>
</div>