<div class="container">
  <div class="row">
    <div class="col-11 col-md-10 mx-auto">
      <h4>マイページ</h4>
    </div>
    <div class="col-6 col-md-3 offset-1 offset-md-4 mt-4 text-center">
      <%= attachment_image_tag @customer, :customer_image, :fill, 200, 200, class: "rounded-circle", fallback: asset_path('logo/customer_default_icon.jpg'), size: '200x200' %>
    </div>
    <div class="col-5 col-md-5 mt-4 m-auto">
      <h6>ニックネーム</h6>
      <%= @customer.nickname %>
      <h6 class="mt-2">メールアドレス</h6>
      <%= @customer.email %><br>
      <%= link_to '編集する',  edit_profiles_path, class: "btn btn-sm btn-success mt-3" %>
    </div>
    <div class="card-deck pt-4 mx-auto">
      <%= link_to followings_path, class: "text-dark" do %>
        <div class="card bg-light text-center p-5">
          <h6><i class="fas fa-users"></i> フォロー</h6>
        </div>
      <% end %>
      <%= link_to favorites_path, class: "text-dark" do %>
        <div class="card bg-light text-center p-5">
          <h6><i class="fas fa-heart"></i> お気に入り</h6>
        </div>
      <% end %>
      <%= link_to evaluations_path, class: "text-dark" do %>
        <div class="card bg-light text-center p-5">
          <h6><i class="fas fa-star"></i> レビュー</h6>
        </div>
      <% end %>
    </div>
  </div>
</div>