<div class="d-flex flex-row flex-wrap">
  <% if events.count == 0 %>
    <p>予約受付中の農業体験はありません</p>
  <% else %>
    <% events.each do |event| %>
      <div class="list-box mr-4">
        <div class="image_top">
          <%= link_to event_path(event.id) do %>
            <%= attachment_image_tag event, :plan_image, :fill, 100, 70, class: "card-img-top" %>
          <% end %></div>
        <div class="title">
          <%= link_to event_path(event.id) do %>
            <h6 class="text-body"><%= event.title %></h6>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate events %>
  <% end %>
</div>