<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <h4 class="text-left mb-3"><%= @event.title %></h4>
    </div>
    <div class="col-12 col-md-5 offset-md-1 my-2">
      <%= attachment_image_tag @event, :event_image, class: "farm_pictures", fallback: asset_path('no_images/no_image_md.png'), size: '300x300' %>
    </div>
    <div class="col-12 col-md-5 mr-auto my-2">
      <%= @event.introduction %>
      <% if customer_signed_in? %>
        <% if current_customer.following?(@event) %>
          <%= link_to "フォローを外す", event_follow_path(@event.id), method: :delete, class: "btn btn-sm btn-danger" %>
        <% else %>
          <%= link_to "フォローする", event_follows_path(@event.id), method: :post, class: "btn btn-sm btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>

    <div class="col-12 col-md-8 mx-auto mb-2">
      <h4 class="text-left mb-3"><%= @event.title %>の材料（<%= @event.amount %>人分）</h4>
      <%= safe_join(@event.ingredient.split("\n"),tag(:br)) %><br>

      <h4 class="text-left my-3"><%= @event.title %>のつくりかた</h4>
      <%= safe_join(@event.event.split("\n"),tag(:br)) %>
    </div>
  </div>

  <% if event_signed_in? && (current_event.id == @event.event_id) %>
    <div class="row">
      <div class="col-12 col-md-8 mx-auto mb-4">
        <table>
          <tbody>
            <tr>
              <td><%= link_to "編集する", edit_events_event_path(@event), class: "btn btn-sm btn-success mr-3" %></td>
              <td><%= link_to "削除する", events_event_path(@event), method: :delete, data: { confirm: "レシピを削除しますか?" }, class: "btn btn-sm btn-danger" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>