<% if reservations.count == 0 %>
  <h6>予約なし</h6>
<% else %>
  <h6>現在のご予約数：<%= reservations.count %></h6>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>お名前</th>
        <th>予約人数</th>
        <th>合計料金</th>
      </tr>
    </thead>
    <tbody>
      <% reservations.each do |reservation| %>
        <tr>
          <td><%= attachment_image_tag reservation.customer, :customer_image, :fill, 50, 50, class: "rounded-circle", fallback: asset_path('customer/customer_default_icon.jpg'), size: '50x50' %></td>
          <td><%= reservation.customer.nickname %>さん</td>
          <td><%= reservation.people %>人</td>
          <td><%= converting_to_jpy(reservation.people * event.fee) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>