<div class="container">
  <div class="row">
    <div class="col-10 col-md-8 mx-auto mb-2 event">
      <p>イベント概要をご確認後、予約人数を設定して「次へすすむ」をクリックしてください。</p>
      <h5 class="mb-2">イベント概要</h5>
      <table class="table">
        <tbody>
          <tr>
            <th>イベント名</th>
            <td><%= @event.title %></td>
          </tr>
          <tr>
            <th>イベント開催日時</th>
            <td class="d-flex align-items-center">
              <%= show_date(@schedule.date) %>
              <div class="mx-3"><%= show_time(@schedule.start_time) %> ～ <%= show_time(@schedule.end_time) %></div>
            </td>
          </tr>
          <tr>
            <th>イベント参加費（税込）</th>
            <td><%= converting_to_jpy(@event.fee) %></td>
          </tr>
          <tr>
            <th>集合場所</th>
            <td><%= @event.location %></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center"><i class="fas fa-angle-double-down fa-3x text-warning"></i></div>
    </div>
  </div>

  <div class="row">
    <div class="col-10 col-md-8 mx-auto mb-2 event">
      <%= render 'layouts/error_messages', validation: @reservation %>
      <table class="table">
        <tbody>
          <tr>
            <th>予約可能最大人数</th>
            <td><%= @reservable_number %>人</td>
          </tr>
          <%= form_with model: [@event, @schedule, @reservation], url: event_schedule_reservations_confirm_path, method: :post, local: true do |f| %>
          <tr>
            <th><%= f.label :people, "予約人数" %></th>
            <td class="d-flex align-items-cente"><%= f.number_field :people, class: "form-control form-control-sm mb-3", max: @reservable_number, min: 1 %>人</td>
          </tr>
          <tr>
            <td colspan="2"">
              <%= f.submit "次へすすむ", class: "btn btn-success mr-3" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>