<div class="container">
  <div class="row">
    <div class="col-11 col-md-8 mx-auto bg-gray p-5">
      <h4><%= @event.title %>の編集</h4>

      <%= render 'layouts/error_messages', validation: @event %><br>
      <%= form_with model: [:farmers, @event], local: true do |f| %>

        <h5 class="mb-2">イベント概要</h5>
        <div class="field form-group">
          <%= f.label :title, "イベント名" %><string class="required"> *</string><br />
          <%= f.text_field :title, class: "form-control form-control-sm" %>
        </div>

        <div class="field form-group">
          <%= f.label :plan_image, "イベント紹介画像" %><string class="required"> *</string><br />
          <%= f.attachment_field :plan_image, class: "form-control-file" %>
        </div>

        <div class="field form-group">
          <%= f.label :body, "イベント概要" %><string class="required"> *</string><br />
          <%= f.text_area :body, rows: '5', class: "form-control form-control-sm" %>
        </div>

        <div class="form-row align-items-end">
          <div class="form-group col-6">
            <%= f.label :fee, "イベント参加費（税込）" %><string class="required"> *</string><br />
            <%= f.number_field :fee, class: "form-control form-control-sm", min: 0 %>
          </div>
          <div class="form-group col-6">円</div>
        </div>

        <div class="field form-group">
          <%= f.label :cancel_change, "キャンセルポリシー" %><string class="required"> *</string><br />
          <%= f.text_area :cancel_change, rows: '5', class: "form-control form-control-sm", placeholder: 'キャンセルや変更を何日前まで受け付けるかなどご記入ください。' %>
        </div>

        <h5 class="mb-2">スケジュール</h5>
        <div class="field form-group">
          以下のボタンからスケジュールや予約可能人数を変更したい日程を選択してください：<br>
          <% @schedules.each do |day| %>
            <%= link_to edit_farmers_event_schedule_path(@event), class: "btn btn-success btn-sm mr-3" do %>
              <%= show_date(day) %>
            <% end %>
          <% end %>
        </div>

        <h5 class="mb-2">アクセス</h5>
        <div class="field form-group">
          <%= f.label :location, "集合場所（住所）" %><string class="required"> *</string><br />
          <%= f.text_field :location, class: "form-control form-control-sm" %>
        </div>

        <div class="field form-group">
          <%= f.label :access, "アクセス方法" %><string class="required"> *</string><br />
          <%= f.text_area :access, rows: 3, class: "form-control form-control-sm" %>
        </div>

        <div class="field form-group">
          <%= f.label :parking, "駐車場" %><string class="required"> *</string><br />
          <%= f.select :parking, Event.parkings.keys.map {|k| [k, k]}, { selected: @event.parking }, class: "form-control form-control-sm" %>
        </div>

        <h5 class="mb-2">そのほか</h5>
        <div class="field form-group">
          <%= f.label :etc, "持ち物など、追記事項がございましたらご記入をお願いいたします。" %><br />
          <%= f.text_area :etc, rows: 3, class: "form-control form-control-sm" %>
        </div>

        <h6 class="required mt-2">※更新ボタンを押されますと、全日程のイベント概要、アクセスが更新されます※</h6>
        <div class="form-group d-flex mt-3">
          <%= f.submit '更新する', class: "btn btn-success text-light mr-3" %>
          <%= link_to "削除する", farmers_event_path(@event), method: :delete, data: { confirm: "このイベントを全日程まとめて削除しますか？"}, class: "btn btn-danger mr-3" %>
          <%= link_to "戻る", farmers_event_path(@event), class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>