<div class="container">
  <div class="row">
    <div class="col-11 col-md-7 mx-auto bg-gray p-5">
      <h4>農業体験イベントの作成</h4>

      <%= render 'layouts/error_messages', validation: @event %><br>
      <%= form_with model: [:farmers, @event], local: true do |f| %>

        <h5 class="mb-2">イベント概要</h5>
        <div class="field form-group">
          <%= f.label :title, "イベント名" %><string class="required"> *</string><br />
          <%= f.text_field :title, class: "form-control form-control-sm" %>
        </div>

        <div class="field form-group">
          <%= f.label :plan_image, "イベント紹介画像" %><string class="required"> *</string><br />
          <%= f.attachment_field :plan_image, class: "form-control-file" %>
        </div>

        <div class="field form-group">
          <%= f.label :body, "イベント概要" %><string class="required"> *</string><br />
          <%= f.text_area :body, rows: '5', class: "form-control form-control-sm" %>
        </div>

        <div class="form-row align-items-end">
          <div class="form-group col-6">
            <%= f.label :fee, "1人あたりのイベント参加費（税込）" %><string class="required"> *</string><br />
            <%= f.number_field :fee, class: "form-control form-control-sm", min: 0, size: 100 %>
          </div>
          <div class="form-group col-6">円</div>
        </div>

        <div class="form-row align-items-end">
          <div class="form-group col-6">
            <%= f.label :number_of_participants, "1日あたりの予約可能人数" %><string class="required"> *</string><br />
            <%= f.number_field :number_of_participants, class: "form-control form-control-sm", min: 1, size: 100 %>
          </div>
          <div class="form-group col-6">人</div>
        </div>

        <div class="field form-group">
          <%= f.label :cancel_change, "キャンセルポリシー" %><string class="required"> *</string><br />
          <%= f.text_area :cancel_change, rows: '5', class: "form-control form-control-sm", placeholder: 'キャンセルや変更を何日前まで受け付けるかなどご記入ください。' %>
        </div>

        <h5 class="mb-2">スケジュール</h5>
          <strong>【 記入方法 】</strong>
          <p class="ml-4">●　１日のみ開催する場合：開始日、終了日は<span class="required">同日を選択</span>してください。<br>
             ●　連日開催する場合：開始日、終了日はそれぞれ<span class="required">別日を選択</span>してください。</p>

        <div class="form-row align-items-end">
          <div class="form-group col-5">
            <%= f.label :start_date, "開始日" %><string class="required"> *</string><br />
            <%= f.date_field :start_date, class: "form-control form-control-sm" %>
          </div>

          <div class="form-group col-5 ml-3">
            <%= f.label :end_date, "終了日" %><string class="required"> *</string><br />
            <%= f.date_field :end_date, class: "form-control form-control-sm" %>
          </div>
        </div>

        <div class="form-row align-items-end">
          <div class="form-group col-5">
            <%= f.label :start_time, "開始時刻" %><string class="required"> *</string><br />
            <%= f.time_field :start_time, class: "form-control form-control-sm" %>
          </div>

          <div class="form-group col-5 ml-3">
            <%= f.label :end_time, "終了時刻" %><string class="required"> *</string><br />
            <%= f.time_field :end_time, class: "form-control form-control-sm" %>
          </div>
        </div>

        <h5 class="mb-2">アクセス</h5>
        <div class="field form-group">
          <%= f.label :location, "集合場所（住所）" %><string class="required"> *</string><br />
          <%= f.text_field :location, class: "form-control form-control-sm" %>
        </div>

        <div class="field form-group">
          <%= f.label :access, "アクセス方法" %><string class="required"> *</string><br />
          <%= f.text_area :access, rows: 3, class: "form-control form-control-sm" %>
        </div>

        <div class="field form-group">
          <%= f.label :parking, "駐車場" %><string class="required"> *</string><br />
          <%= f.select :parking, Event.parkings.keys.map {|k| [k, k]}, { selected: @event.parking }, class: "form-control form-control-sm" %>
        </div>

        <h5 class="mb-2">そのほか</h5>
        <div class="field form-group">
          <%= f.label :etc, "持ち物など、追記事項がございましたらご記入をお願いいたします。" %><br />
          <%= f.text_area :etc, rows: 3, class: "form-control form-control-sm" %>
        </div>

        <%= f.submit '作成する', class: "btn btn-success text-light mr-3" %>
      <% end %>
    </div>
  </div>
</div>