<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2">
      <h4 class="text-left"><%= @event.title %></h4>
      <table>
        <tbody>
          <tr>
            <td rowspan="3"><%= attachment_image_tag @farmer, :farmer_image, :fill, 100, 100, class: "rounded-circle", fallback: asset_path('no_images/no_image_md.png'), size: '100x100' %></td>
            <td class="cell-pl"><%= @farmer.farm_address %></td>
            <td></td>
          </tr>
          <tr>
            <td class="cell-pl"><h3><%= @farmer.name %></h3></td>
            <td></td>
          </tr>
          <tr>
            <td class="cell-pl">評価（〇件）</td>
            <td class="cell-pl">
              <% if current_farmer == @farmer %>
                <%= link_to "編集する", edit_farmers_farmer_path(current_farmer), class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table><br>
      <%= @farmer.introduction %>
    </div>
    <div class="col-12 col-md-4 mr-auto my-2">
      <%= attachment_image_tag @farmer, :image_1, class: "farm_pictures", fallback: asset_path('no_images/no_image_md.png'), size: '300x300' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 mx-auto mb-2 d-flex align-items-center">
      <h6 class="mr-4">調理時間：約<%= @event.duration %>分</h6>
      <h6><i class="fas fa-heart text-danger"></i> <%= @event.event_favorites.count %></h6>
    </div>

    <div class="col-12 col-md-8 mx-auto mb-2">
      <h4 class="text-left mb-3"><%= @event.title %>の材料（<%= @event.amount %>人分）</h4>
      <%= safe_join(@event.ingredient.split("\n"),tag(:br)) %><br>

      <h4 class="text-left my-3"><%= @event.title %>のつくりかた</h4>
      <%= safe_join(@event.event.split("\n"),tag(:br)) %>
    </div>
  </div>

  <% if current_farmer.id == @event.farmer_id %>
    <div class="row">
      <div class="col-12 col-md-8 mx-auto mb-4">
        <table>
          <tbody>
            <tr>
              <td><%= link_to "編集する", edit_farmers_event_path(@event), class: "btn btn-sm btn-success mr-3" %></td>
              <td><%= link_to "削除する", farmers_event_path(@event), method: :delete, data: { confirm: "レシピを削除しますか?" }, class: "btn btn-sm btn-danger" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>