<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 offset-md-1 mb-4">
      <%= attachment_image_tag @event, :plan_image, class: "farm_pictures", fallback: asset_path('no_images/no_image_md.png'), size: '300x300' %>
    </div>
    <div class="col-12 col-md-5 mr-auto my-2">
      <h4 class="text-left mb-3"><%= @event.title %></h4>
      <% if customer_signed_in? %>
        <h6 class="favorite-btn"><%= render 'customers/favorite_events/favorite-btn', event: @event %></h6>
      <% else %>
        <h6><i class="fas fa-bookmark text-success"></i> <%= @event.event_favorites.count %></h6>
      <% end %>
      <%= safe_join(@event.body.split("\n"),tag(:br)) %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2 event">
      <h5 class="mb-2">イベント概要</h5>
      <table class="table">
        <tbody>
          <tr>
            <th>イベント期間</th>
            <td>
              <p><% if @schedules.count == 1 %>
                <%= @schedules.date.strftime("%Y/%m/%d") %>
              <% else %>
                <%= @event.start_date.strftime("%Y/%m/%d") %> ～ <%= @event.end_date.strftime("%Y/%m/%d") %>まで1日毎
              <% end %></p>
              個別に日時を編集する場合、以下のボタンから日程を選択してください：<br>
              <% @schedules.each do |day| %>
                <%= link_to edit_farmers_event_schedule_path(@event), class: "btn btn-success btn-sm mr-3" do %>
                  <%= day.strftime("%Y/%m/%d") %>
                <% end %>
              <% end %>
              </td>
          </tr>
          <tr>
            <th>開催時刻</th>
            <td><%= @schedule.start_time.strftime("%H:%M") %> ～ <%= @schedule.end_time.strftime("%H:%M") %></td>
          </tr>
          <tr>
            <th>イベント参加費（税込）</th>
            <td><%= @event.fee %></td>
          </tr>
          <tr>
            <th>キャンセル・変更ポリシー</th>
            <td><%= @event.cancel_change %></td>
          </tr>
          <tr>
            <th>そのほか</th>
            <td><%= @event.etc %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2 event">
      <h5 class="mb-2">アクセス</h5>
      <table class="table mb-2">
        <tbody>
          <tr>
            <th>集合場所</th>
            <td><%= @event.location %></td>
          </tr>
          <tr>
            <th>アクセス方法</th>
            <td><%= @event.access %></td>
          </tr>
          <tr>
            <th>駐車場</th>
            <td><%= @event.parking %></td>
          </tr>
        </tbody>
      </table>
      <div class="form-group d-flex mt-3">
        <%= link_to "編集する", edit_farmers_event_path(@event), class: "btn btn-success mr-3" %>
        <%= link_to "削除する", farmers_event_path(@event), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </row>
</div>