<div class="container">
  <div class="row">
    <a class="fixed-chat-btn" href="#chat">チャット</a>
    <div class="col-12 col-md-5 offset-md-1 mb-4">
      <%= attachment_image_tag @event, :plan_image, class: "farm_pictures", fallback: asset_path('no_images/no_image_md.png'), size: '300x300' %>
    </div>
    <div class="col-12 col-md-5 mr-auto my-2">
      <h4 class="text-left mb-3"><%= @event.title %></h4>
      <h6><i class="fas fa-heart text-danger"></i> <%= @event.event_favorites.count %></h6>
      <%= safe_join(@event.body.split("\n"),tag(:br)) %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2 event">
      <h5 class="mb-2">イベント概要</h5>
      <table class="table">
        <tbody>
          <tr>
            <th>イベント期間</th>
            <td>
              <% if current_farmer.id = @event.farmer_id %>
                <p>各日の日程詳細確認や、予約状況の確認・変更を行う場合、<br>以下のボタンから希望の日程を選択してください：</p>
              <% end %>
              <% @schedules.each do |schedule| %>
                <%= link_to farmers_event_schedule_path(@event.id, schedule), class: "btn btn-success btn-sm mr-3" do %>
                  <%= show_date(schedule.date) %>
                <% end %>
              <% end %>
              </td>
          </tr>
          <tr>
            <th>開催時刻</th>
            <td><%= show_time(@schedule.start_time) %> ～ <%= show_time(@schedule.end_time) %></td>
          </tr>
          <tr>
            <th>イベント参加費（税込）/人</th>
            <td><%= converting_to_jpy(@event.fee) %></td>
          </tr>
          <tr>
            <th>キャンセルポリシー</th>
            <td><%= @event.cancel_change %></td>
          </tr>
          <tr>
            <th>そのほか</th>
            <td><%= @event.etc %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-2 event">
      <%= render "farmers/events/access", event: @event %>
      <% if (@schedule.date > Date.current) && (current_farmer.id == @event.farmer_id) %>
        <div class="form-group d-flex mt-3">
          <%= link_to "編集する", edit_farmers_event_path(@event), class: "btn btn-success mr-3" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mx-auto mb-2">
      <h5 class="mb-2 text-center", id="chat">ご相談、ご連絡フォーム</h5>
      <div id="error"></div>
      <%= render 'layouts/error_messages', validation: @chat %>
      <% if @event.farmer_id == current_farmer.id %>
        <%= form_with model: [@event, @chat], url: farmers_event_chats_path(@event, @chat) do |f| %>
          <%= f.text_area :chat, class: "form-control form-control-sm", placeholder: "Chat" %>
          <%= f.submit "送信", class: "btn btn-success btn-sm mt-2" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-12 col-md-8 mx-auto mb-2">
      <div class="chat_index">
        <%= render "farmers/chats/index", chats: @chats %>
      </div>
    </div>
  </div>
</div>