<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 mx-auto p-4 text-center sign">

    <h4>ログイン</h4>

    <br><p>会員登録がお済みでない方は、<%= render "customers/shared/links" %>よりご登録ください</p>

    <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td align="right"><%= f.label :email, "メールアドレス" %></td>
            <td align="left"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td align="right"><%= f.label :password, "パスワード" %></td>
            <td align="left"><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <td colspan="2">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "ログイン情報を記録する" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <%= f.submit "ログイン", class: "btn btn-sm btn-secondary" %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <%= render "customers/shared/password" %>
    </div>
  </div>