<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 mx-auto p-4 text-center sign">

    <h4>パスワードの再設定</h4><br>

    <%= form_with model: @farmer, url: farmer_password_path, method: :post, local: true do |f| %>
      <%= render "farmers/shared/error_messages", resource: resource %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td align="right"><%= f.label :email, "メールアドレス" %></td>
            <td align="left"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %></td>
          </tr>
          <tr>
            <td colspan="2">
              <%= f.submit "確認メールを送信", class: "btn btn-sm btn-secondary" %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <p>新規登録される方は<%= render "farmers/shared/links" %></p>
    <p>登録済みのアカウントからログインされる方は<%= render "farmers/shared/links" %></p>
    </div>
  </div>
</div>
