<header class="sticky-top mb-3">
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container">
      <a class="nav-link", href="/"><%= image_tag asset_path('logo/header_logo.png'), class: "header_logo" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <!--customerのヘッダー-->
            <li><%= link_to ' マイページ', profiles_path(current_customer), class: "nav-link text-dark fas fa-user" %></li>
            <li><%= link_to ' 予約履歴一覧', reservations_path, class: "nav-link text-dark fas fa-pen" %></li>
            <li><%= link_to ' 近くの農家さん', farmers_path, class: "nav-link text-dark fas fa-tractor" %></li>
            <li><%= link_to ' 農業体験', events_path, class: "nav-link text-dark fas fa-carrot" %></li>
            <li><%= link_to ' レシピ', recipes_path, class: "nav-link text-dark fas fa-utensils" %></li>
            <li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete, class: "nav-link text-dark fas fas fa-walking" %></li>
          <% elsif farmer_signed_in? %>
          <!--farmerのヘッダー-->
            <li><%= link_to ' マイページ', farmers_farmer_path(current_farmer), class: "nav-link text-dark fas fa-user" %></li>
            <li><%= link_to ' 農家さん一覧', farmers_farmers_path, class: "nav-link text-dark fas fa-tractor" %></li>
            <li><%= link_to ' レシピ', farmers_recipes_path, class: "nav-link text-dark fas fa-utensils" %></li>
            <li><%= link_to ' 農業体験', farmers_events_path, class: "nav-link text-dark fas fa-carrot" %></li>
            <li><%= link_to ' ログアウト', destroy_farmer_session_path, method: :delete, class: "nav-link text-dark fas fas fa-walking" %></li>
          <% elsif admin_signed_in? %>
          <!--adminのヘッダー-->
            <li><%= link_to ' 農家一覧', admins_root_path, class: "nav-link text-dark fas fa-users" %></li>
            <li><%= link_to ' 会員一覧', admins_customers_path, class: "nav-link text-dark fas fa-users" %></li>
            <li><%= link_to ' 近くの農家さん', farmers_path, class: "nav-link text-dark fas fa-tractor" %></li>
            <li><%= link_to ' レシピ', recipes_path, class: "nav-link text-dark fas fa-utensils" %></li>
            <li><%= link_to ' 農業体験', events_path, class: "nav-link text-dark fas fa-carrot" %></li>
            <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-dark fas fa-walking" %></li>
          <% else %>
          <!--ログイン前のヘッダー-->
            <li><%= link_to ' vegecircleについて', about_path, class: "nav-link text-dark fas fa-seedling" %></li>
            <li><%= link_to ' 近くの農家さん', farmers_path, class: "nav-link text-dark fas fa-tractor" %></li>
            <li><%= link_to ' レシピ', recipes_path, class: "nav-link text-dark fas fa-utensils" %></li>
            <li><%= link_to ' 農業体験', events_path, class: "nav-link text-dark fas fa-carrot" %></li>
            <li><%= link_to ' ログイン', new_customer_session_path, class: "nav-link text-dark fas fa-user" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <%= render 'layouts/flash' %>
      </div>
    </div>
  </div>
</header>